<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;background:#121212">

  <div style="margin:50px auto;width:70%;padding:20px 0">

    <!--img src="akatsuki.png" alt="Akatsuki logo" style="width:20%; height=10%;"-->

    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #FFFFFF;text-decoration:none;font-weight:600">Akatsuki</a>
    </div>

    <p style="font-size:1.1em; color:#FFFFFF">Hi,</p>

    <p style="color:#FFFFFF">Welcome to the anime community with Akatsuki! To get started, click on the button below. Link valid for 5 minutes only!</p>

    <h2 style="background: #A42A04;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><a href="{{.link }}">Click here!</a></h2>

    <p style="font-size:0.9em; color:#FFFFFF">Regards,<br />Nagato <i>(CEO of Akatsuki)</i></p>

    <hr style="border:none;border-top:1px solid #eee" />

    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">

      <p>Akatsuki Inc</p>

      <p>Hidden Rain Village</p>

    </div>
  </div>
</div>